*{
	font-family: 'Roboto', sans-serif;
	
}
body{
	display:flex;
	padding: 60px 0px 0px 50px;
	justify-content: space-evenly;
	align-items:center;
	
}
#form{
	display:flex;
	border:1px solid lightgray;
	border-radius:5px;
	text-align:center;
	width:45%;
	
}
.left{
	font-family: 'Roboto', sans-serif;
	height: 70vh;
    background-color: #3ab19b;
    width: 90vh;
	color:white;

}
.left h1{
	font-size:30px;
}
.left p{
		font-size:16px;
}
	
.icong{

	margin-top:130px;
}

.bi-gear{
	color:white;
	/* float:left; */
	font-size:25px;
	position:relative;
    top: 20px;
	left: -90px;
}
.lefts{
	color:white;
	text-decoration:none;
	border:1px solid white;
	border-radius:16px;
	padding:8px 30px;	
	font-size:12px;
}
.right a{
	
	text-decoration:none;
	background-color:#3ab19b;
	color:white;
	border:1px solid #3ab19b;
	border-radius:22px;
	padding:8px 38px;
	margin-top:10px;
	display:inline-block;
	font-size:14px;
}
.right{
	font-family: 'Roboto', sans-serif;
	height:70vh;
	width:120vh;
	
}
.right h1{
	color:#3ab19b;
	font-size:35px;
}
.right p{
	color:gray;
	font-size:12px;
	margin-top:30px;
}
.last{
	margin-top:20px;
}
.right i{
	height:40px;
	width:40px;
	border-radius:50%;
	border:1px solid gray;
	font-size:16px;
	padding:10px;
}
.form-icon i{
	border:none;
	position:absolute;
	left:50px;
	z-index:1;
}
.right{
	position:relative;
}
.form-icon input{
	border:none;
	padding:10px;
	padding-left:30px;
	background-color:lightgray;
	position:relative;
}